# Variables

## Strings

A string is a sequence of letters, numbers, and punctuation marks - or commonly known as **text**

In Python you can create a string by typing letters between single or double quotation marks.

In [3]:
city = 'Kraków'
state = 'Małopolskie'
print(city, state)

Kraków Małopolskie

In [4]:
print(city + state)

KrakówMałopolskie

In [5]:
print(city + ',' + state)

Kraków,Małopolskie

## Numbers

Python can handle several types of numbers, but the two most common are:

- **int**, which represents integer values like 100, and
- **float**, which represents numbers that have a fraction part, like 0.5

In [21]:
population = 800653
latitude = 50.0647
longitude = 19.9450

In [22]:
print(type(population))

<class 'int'>

In [23]:
print(type(latitude))

<class 'float'>

In [24]:
elevation_feet = 1257
elevation_meters = elevation_feet * 0.3048
print(elevation_meters)

383.1336

In [25]:
area_sqmi = 126.2
density = population / area_sqmi
print(density)

6344.31854199683

## Exercise

We have a variable named `distance_km` below with the value `4135` - indicating the straight-line distance between San Francisco and New York in Kilometers. Create another variable called `distance_mi` and store the distance value in miles.

- Hint1: 1 mile = 1.60934 kilometers

Add the code in the cell below and run it. The output should be 2569.37

In [29]:
distance_km = 4135
# Remove this line and add code here

## My Solution

In [30]:
mile_to_km = 1.60934

In [48]:
distance_mi = distance_km / mile_to_km

In [49]:
distance_mi

2569.376266046951